
.header {
  background-color: #f1f1f1;
  padding: 35 px;
  text-align: left;
  font-size: 35px;
  margin-bottom: 10px;
}

.main{
	border-style: dotted;
	float: left;
	width: 60%;
	padding: 0px;
	margin-bottom: 0px
}

.side-bar{
	border-style: solid;
	float: right;
	width: 30%;
	padding: 0px
}

* {
  box-sizing: border-box;
}

select{
	align: right;
}

